<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/chat/{reciever}(reciever=${user})}">
    <input type="text" placeholder="Enter your message" name="message">
    <input type="hidden" name="loginUser" th:value="${loginUser}">
    <input type="submit" value="Send">
    </form>

</body>
</html>