<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            border: 2px solid black;
            margin-left: 400px;
            margin-right: 500px;
           text-align: center;
           margin-top: 120px;
        }
        #select{
            width: 20%;
            height: 30px;
        }

        #submit{
            width: 10%;
        }
    </style>
      <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
</head>
<body>

    <div id="container">
    <form th:action="@{/posts/savepost}" th:object="${post}">


   <h2>Enter the Title of Post</h2>     
   <input type="text" name="title" placeholder="Enter title" th:value="${post.title}">
   <form>
    <input type="hidden" name="username" th:value="${username}">
   <br>
   <br>
   <form>
   <h2>Enter the Subreddit name</h2>
   <form >
    <select name="subreddit" id="select">
        <option th:each="subreddit : ${subreddits}" th:value="${subreddit.id}" th:text="${subreddit.name}" placeholder ="Choose Community"></option>
    </select>
   <br><br>
   <h2>Enter the Content of Post</h2>
   <textarea type="text" name="content" placeholder="Enter your Content" th:value="${post.content}" rows="15", cols="60" > </textarea><br><br>
   <input type="submit" value="Submit" id="submit">
   <br>
   <br>
</form>
    </form>
</form>
</div>
</body>
</html>